@import "../../Assets/Styles/mixin.scss";

.header {
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/Images/Header/Groupedemasques20.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .headerContainer {
        padding: 30px 90px;
        width: calc(100% - 180px);
        height: calc(100% - 60px);
        position: relative;

        .containerCircle {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                height: calc(100% - 60px);
                aspect-ratio: 1/1;
                background: radial-gradient(circle, transparent calc(70.5% - 1px), #7D146C 70.5%);

                @include mixin-portrait() {
                    width: calc(100% - 180px);
                    height: auto;
                }
            }
        }
    }
}